:root {
	--pixel-font: 'Press Start 2P', monospace, sans-serif;
	--text-font: monospace, sans-serif;
	--main-color: #1c1c1c;
	--text-color: #4d2908;
	--brown-color: #672905;
	--lightbrown-color: #ffca998a;
}

@keyframes pixel-scale {
	transform-origin: center center;	
	from {
		transform: scale(0.9);
	}
	to {
		transform: scale(1.1);
	}
}

@keyframes pixel-pulse {
  from {
    filter: brightness(1);
    transform: scale(1);
  }
  to {
    filter: brightness(1.1);
    transform: scale(1.03);
  }
}

@keyframes pixel-jump {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-4px); }
  100% { transform: translateY(0); }
}

.eol-body .pixel-jump:hover {
	animation: pixel-jump 2.5s infinite alternate;
}

.eol-body a:hover,
.eol-body button:hover,
.eol-body img[class="pixel-animation"]:hover,
.eol-body div#language img[class*=recommended] {
	animation: pixel-scale .5s infinite alternate;
}

@media (hover: none) and (pointer: coarse) {
	.eol-body a,
	.eol-body button,
	.eol-body .pixel-animation {
		animation: pixel-pulse 2.5s infinite alternate;
	}
}

