/* INPUTS Y TEXTAREA */
.eol-body .sections-wrapper .container section.container_section.container_section-form form > input,
.eol-body .sections-wrapper .container section.container_section.container_section-form form > textarea {
	font-family: monospace;
    font-size: 16px;
    font-weight: 600;
    background-color: #fff8ee;
    color: var(--text-color);
    border: 2px solid var(--brown-color);
    border-radius: 6px;
    padding: 10px 12px;
    box-shadow: inset 2px 2px 0 #d49c6a, 2px 2px 0 #672905;
    margin-bottom: 12px;
    outline: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease;
    letter-spacing: 0.4px;
}

.eol-body .sections-wrapper .container section.container_section.container_section-form form > input:focus,
.eol-body .sections-wrapper .container section.container_section.container_section-form form > textarea:focus {
	background-color: #fff1da;
	box-shadow:
		inset 0 0 0 2px #ffe066,
		0 0 6px #ffe066;
	transform: scale(1.01);
}

.eol-body .sections-wrapper .container section.container_section.container_section-form form > input::placeholder,
.eol-body .sections-wrapper .container section.container_section.container_section-form form > textarea::placeholder {
	color: #a77b50;
	font-size: 10px;
	font-style: italic;
	opacity: 0.85;
}

/* TEXTAREA */
.eol-body .sections-wrapper .container section.container_section.container_section-form form > textarea {
	resize: vertical;
	min-height: 100px;
	overflow-y: auto;
}

/* BOTONES */
.eol-body .sections-wrapper .container section.container_section.container_section-form form > div.form_button {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
	align-items: center;
}

.eol-body .sections-wrapper .container section.container_section.container_section-form form .form_button > button {
	font-family: var(--pixel-font);
	font-size: 14px;
    font-variant: all-small-caps;
	max-width: 200px;
}

/* Errores en formulario */
.eol-body .sections-wrapper .container section.container_section.container_section-form form > input:invalid,
.eol-body .sections-wrapper .container section.container_section.container_section-form form > textarea:invalid {
	box-shadow: inset 0 0 0 2px red;
	background-color: #ffe5e5;
}

@media (max-width: 500px) {
	.eol-body .sections-wrapper .container section.container_section.container_section-form form > div.form_button {
		flex-direction: column;
	}
}