@import url('./modules/common.css');
@import url('./modules/experience.css');
@import url('./modules/form.css');


.eol-body {
    color: var(--main-color);
    font-family: monospace, sans-serif;
    margin: 0;
    padding: 0;
	font-size: 13px; 
}

.eol-body.loading .curtain {
	position: absolute; 
	top: 0;
	left: 0;
	z-index: 999;
	
	width: 100%;
	height: 100%;
	
	background-color: #5b5046;
    opacity: .6;
	transition: opacity .3 ease-in-out;
}

.eol-body.loaded .wrapper {
	opacity: 1;
	background: url('../img/background.svg') no-repeat center center fixed;
	background-size: cover;
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.eol-body img#portrait {
	position: fixed;
	bottom: -15px;
	left: -15px;
	height: clamp(50vh, 60%, 75vh);
	opacity: 0;
	transition: transform 1s cubic-bezier(.68, -0.55, .27, 1.55), 
				opacity .5s ease-in-out;
	z-index: 1;
}

.eol-body.loaded img#portrait {
	opacity: 1;
}

.eol-body img#portrait.portrait--small {
	transform: scale(0.7);
	transform-origin: left bottom;
	bottom: -5px;
	left: -5px;
}
.eol-body .sections-wrapper {
    padding: 0 10px;
}

.eol-body .sections-wrapper .tools {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-height: 150px; /* para efecto de aparecer en vez de que sea brusco */
	transition: max-height .3s ease-in-out;
	top: clamp(5px, 2vh, 15px);
	position: relative;
}

.eol-body .sections-wrapper.sections-wrapper--lang .tools {
	max-height: 0;
}

.eol-body .sections-wrapper .tools img#go_back,
.eol-body .sections-wrapper .tools img#language_switcher {
	position: relative;
	height: clamp(50px, 5vh, 75px);
	aspect-ratio: 1.5 / 1;
	display: inline-block;
	transition: opacity .3s ease-in-out;
}

.eol-body .sections-wrapper:not([class*=--open]) .tools img#go_back,
.eol-body .sections-wrapper.sections-wrapper--lang img#language_switcher,
.eol-body .sections-wrapper.sections-wrapper--animation  img#language_switcher {
	opacity: 0;
	max-height: 0;
}

.eol-body .sections-wrapper.sections-wrapper--open .tools img#go_back {
	opacity: 1;
}

.eol-body .sections-wrapper.sections-wrapper--lang .container,
.eol-body .sections-wrapper.sections-wrapper--open .container .container_welcome {
	display: none;
}

.eol-body .sections-wrapper.sections-wrapper--lang div#language {
	display: grid;
}

.eol-body .sections-wrapper div#language {
	width: 100%;
	display: none;
	top: clamp(15px, 5vh, 25px);
	justify-content: center;
	grid-template-columns: clamp(100px, 50vw, 200px);
	position: relative;
}
.eol-body .sections-wrapper div#language img {
	position: relative;
	width: 100%;
}
.eol-body a:hover,
.eol-body button:hover,
.eol-body img[id^=language]:hover,
.eol-body div#language img[class*=recommended],
.eol-body .container section.container_section-actions img:hover {
	animation: pixel-scale .5s infinite alternate;
}

.eol-body .sections-wrapper .container {
	position: relative;
	top: clamp(15px, 15vw, 30px);
	width: 100%;
	height: 100%;
	margin: auto;
	max-width: 500px;
}

.eol-body .sections-wrapper .container .container_welcome {
    text-align: center;
    display: inline-block;
    margin: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 400;
    line-height: 1.5;
    box-shadow: 0 4px 14px 0 black;
    background: var(--lightbrown-color);
    border-radius: 13px;
    color: var(--brown-color);
	transition: font-size .1s ease-in-out, padding .2s ease-in-out;
}

.eol-body .sections-wrapper.sections-wrapper--animation .container .container_welcome {
    font-size: clamp(12px, 4vw, 24px);
	padding: clamp(10px, 5vw, 15px);
}

.eol-body .sections-wrapper .container .container_welcome {
	font-size: clamp(13px, 2vw, 18px);	
	padding: clamp(5px, 15vw, 10px);
	width: calc(100% - 30px);
}

.eol-body .sections-wrapper .container .container_section {
	opacity: 0;
    display: none;
	transition: opacity .5s ease-in-out;
}

.eol-body .sections-wrapper .container .container_section.container_section--active {
	opacity: 1;
	display: block;
	position: relative;
	z-index: 10;
	height: max-content;
	max-height: calc(100vh - 120px);
	background-color: rgb(103 41 5 / 50%);
	box-shadow: 0px 4px 12px 3px black;
	border: 1px solid rgb(0 0 0 / 50%);
	padding: 10px;
	
	overflow-y: auto;
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: #a05a2c var(--brown-color); /* Firefox */
}

.eol-body .sections-wrapper .container .container_section::-webkit-scrollbar {
  width: 8px;
}

.eol-body .sections-wrapper .container .container_section::-webkit-scrollbar-track {
  background: var(--lightbrown-color);
  border-left: 2px solid var(--brown-color);
}

.eol-body .sections-wrapper .container .container_section::-webkit-scrollbar-thumb {
  background-color: #a05a2c;
  border: 2px solid #4d2908;
  border-radius: 2px;
  box-shadow: inset 1px 1px 0 var(--brown-color);
}

.eol-body .sections-wrapper .container .container_section::-webkit-scrollbar-thumb:hover {
  background-color: var(--brown-color);
}

.eol-body .sections-wrapper .container section.container_section-actions {
    display: flex;
    width: max-content;
    top: clamp(10px, 15vh, 25px);
    flex-direction: column;
    gap: 15px;
    position: relative;
    margin-left: auto;
}
.eol-body .sections-wrapper.sections-wrapper--open .container section.container_section-actions,
.eol-body .sections-wrapper.sections-wrapper--animation .container section.container_section-actions {
	opacity: 0;
	display: none;
}

.eol-body .sections-wrapper .container section.container_section-actions button {
    height: clamp(50px, 10vh, 100px);
    width: 100%;
    aspect-ratio: 3 / 1;
    border: none;
    outline: none;
    box-shadow: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    image-rendering: pixelated;
    background-image: url('../img/button.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    font-family: var(--pixel-font);
    font-size: clamp(11px, 2vh, 18px);
    color: var(--text-color);
    z-index: 10;
    box-sizing: border-box;
}

